// Sizing
$xs-size: 1.4rem;
$s-size: 1.8rem;
$sm-size: 2.6rem;
$m-size: 3.2rem;
$l-size: 4.2rem;
$xl-size: 5.6rem;
$xxl-size: 7rem;

// Colors
$dark-grey: #333333;
$light-blue: #3884d1; //  #2a6fb5 //#00a2ff
$light-grey: #dddddd;


// offsets
$header-height: 8rem;

// beackpoints
$tablet: 1024px;
$mobile: 767px;
